<!DOCTYPE html>

<html lang="en-US">
  <head>
    <meta charset="utf-8" />
    <meta content="width=device-width,initial-scale=1.0" name="viewport" />
    <meta content="Welcome" property="og:description" />
    <meta content="Greensell" name="description" />
    <title>{% block title%}{% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@3.8.2/dist/full.css" rel="stylesheet" type="text/css" />
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/alpinejs@2.8.2/dist/alpine.min.js" defer></script>
<script>
  function closeAlert() {
    const alert = document.getElementById('alert');
    alert.style.display = 'none';
}
</script>
  </head>
  <div class="navbar bg-base-100">
    <div class="flex-1">
      <a class="btn btn-ghost normal-case text-xl">PSA Singapore</a>
    </div>
    <div class="flex-none">
      <ul class="menu menu-horizontal px-1">
        <li><a href="{{ url_for('dashboard') }}">Dashboard</a></li>
        <li><a href="{{ url_for('settings') }}">Change conversion of every 500 TEUS</a></li>
      </ul>
    </div>
  </div>
  {% with messages = get_flashed_messages(with_categories=true) %}
    <!--    with_categories = true means it grabs the categories as well for messages-->
    
    {% if messages %}
    
        {% for category, message in messages %}
        <div class="alert alert-{{category}}" id="alert">
          
                {% autoescape false %}
                {{ message }}
                {% endautoescape %}
                <button
                onclick="closeAlert()"
            class="float-right text-white">&times;</button>
              </div>
              

        {% endfor %}
    {% endif %}
                
    {% endwith %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
    
   
    {% block content %}

    {% endblock %} 
  