{% extends "base.html" %}

{% block title %} Chart {% endblock %}
{% block content %}
<style>
    p{color:white}
</style>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<div class="drawer lg:drawer-open">
    <input id="my-drawer-2" type="checkbox" class="drawer-toggle" />
    <div class="drawer-content flex flex-col items-center justify-center">
      <!-- Page content here -->
      <h1 class="stat-title">Values To Take Note Of By Month </h1>
      <hr>
  
      <canvas id="ProfitGained" width="400" height="200"></canvas>
      <canvas id="AverageContainerWeight" width="400" height="200"></canvas>
      <canvas id="VesselWaitingTime" width="400" height="200"></canvas>
      <canvas id="WorldValue" width="400" height="200"></canvas>
      <canvas id="RegionalValue" width="400" height="200"></canvas>
      <canvas id="SingaporeValue" width="400" height="200"></canvas>
      <canvas id="NumberOfShips" width="400" height="200"></canvas>
      <canvas id="NumberOfContainers" width="400" height="200"></canvas>
      <label for="my-drawer-2" class="btn btn-primary drawer-button lg:hidden">Menu</label>
    
    </div> 
    <div class="drawer-side">
      <label for="my-drawer-2" aria-label="close sidebar" class="drawer-overlay"></label> 
      <ul class="menu p-4 w-50 min-h-full bg-base-200 text-base-content">
        <!-- Sidebar content here -->
        <br><div class="divider">Value</div>
        <li><a href="#ProfitGained">Profit Gained</a></li>
        <br><div class="divider">Shipping schedules</div>
        <li><a href="#AverageContainerWeight">Average Container Weight</a></li>
        <li><a href="#VesselWaitingTime">Vessel Waiting Time</a></li>
        <br><div class="divider">Trade fluctuations</div>
        <li><a href="#WorldValue">World Value</a></li>
        <li><a href="#RegionalValue">Regional Value</a></li>
        <li><a href="#SingaporeValue">Singapore Value</a></li>
        <br><div class="divider">Seasonal Variations</div>
        <li><a href="#NumberOfShips">Number Of Ships</a></li>
        <li><a href="#NumberOfContainers">Number Of Containers</a></li>
        <br><div class="divider btn-secondary">Other Actions</div>
        <li><a href="/AI">Ai Ship Advisor</a></li>
        <li><a href="/settings">Change Settings</a></li>
        <li><a href="/notes">Add Notes</a></li>
        <li><a href="/resources">Resources Required</a></li>
      </ul>
    
    </div>
  </div>
  
  <script>
    // Get a reference to the canvas element
    var cta = document.getElementById('ProfitGained').getContext('2d');
    var ctb = document.getElementById('AverageContainerWeight').getContext('2d');
    var ctc = document.getElementById('VesselWaitingTime').getContext('2d');
    var ctd = document.getElementById('WorldValue').getContext('2d');
    var cte = document.getElementById('RegionalValue').getContext('2d');
    var ctf = document.getElementById('SingaporeValue').getContext('2d');
    var ctg = document.getElementById('NumberOfShips').getContext('2d');
    var cth = document.getElementById('NumberOfContainers').getContext('2d');
    // Define the data for the chart (example data)
    var chartDataA = {
        labels: ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'July', 'September', 'October', 'November', 'December'],
        datasets: [{
            label: 'Profit Gained (SGD)',
            data: [10, 20, 15, 25, 30],
            borderColor: 'red',
            backgroundColor: 'white',
            borderWidth: 2
        }]
    };
    var chartDataB = {
        labels: ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'July', 'September', 'October', 'November', 'December'],
        datasets: [{
            label: 'Average Container Weight (Tons)',
            data: [10, 20, 15, 25, 30],
            borderColor: 'orange',
            backgroundColor: 'white',
            borderWidth: 2
        }]
    };
    var chartDataC = {
        labels: ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'July', 'September', 'October', 'November', 'December'],
        datasets: [{
            label: 'Vessel Waiting Time (Hrs)',
            data: [10, 20, 15, 25, 30],
            borderColor: 'yellow',
            backgroundColor: 'white',
            borderWidth: 2
        }]
    };
    var chartDataD = {
        labels: ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'July', 'September', 'October', 'November', 'December'],
        datasets: [{
            label: 'World GDP',
            data: [10, 20, 15, 25, 30],
            borderColor: 'green',
            backgroundColor: 'white',
            borderWidth: 2
        }]
    };
    var chartDataE = {
        labels: ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'July', 'September', 'October', 'November', 'December'],
        datasets: [{
            label: 'Regional GDP',
            data: [10, 20, 15, 25, 30],
            borderColor: 'blue',
            backgroundColor: 'white',
            borderWidth: 2
        }]
    };
    var chartDataF = {
        labels: ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'July', 'September', 'October', 'November', 'December'],
        datasets: [{
            label: 'Singapore GDP',
            data: [10, 20, 15, 25, 30],
            borderColor: 'purple',
            backgroundColor: 'white',
            borderWidth: 2
        }]
    };
    var chartDataG = {
        labels: ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'July', 'September', 'October', 'November', 'December'],
        datasets: [{
            label: 'Number Of Ships',
            data: [10, 20, 15, 25, 30],
            borderColor: 'pink',
            backgroundColor: 'white',
            borderWidth: 2
        }]
    };
    var chartDataH = {
        labels: ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'July', 'September', 'October', 'November', 'December'],
        datasets: [{
            label: 'Number Of Containers',
            data: [10, 20, 15, 25, 30],
            borderColor: 'white',
            backgroundColor: 'white',
            borderWidth: 2
        }]
    };
    // Create the line chart
    var Chart1 = new Chart(cta, {
        type: 'line',
        data: chartDataA,
        options: {
            responsive: true,
            maintainAspectRatio: true,
            scales: {
                y: {
                    beginAtZero: true
                }
            },
            plugins: {
            legend: {
                labels: {
                    color: 'red' // Change legend label text color to red
                }
            },

        },
        tooltips: {
            enabled: true,
            backgroundColor: 'yellow', // Change tooltip background color to yellow
            titleColor: 'green', // Change tooltip title text color to green
            bodyColor: 'white' // Change tooltip body text color to white
        }
            
        }
    });
    var Chart2 = new Chart(ctb, {
        type: 'line',
        data: chartDataB,
        options: {
            responsive: true,
            maintainAspectRatio: true,
            scales: {
                y: {
                    beginAtZero: true
                }
            },
            plugins: {
            legend: {
                labels: {
                    color: 'red' // Change legend label text color to red
                }
            },

        },
        tooltips: {
            enabled: true,
            backgroundColor: 'yellow', // Change tooltip background color to yellow
            titleColor: 'green', // Change tooltip title text color to green
            bodyColor: 'white' // Change tooltip body text color to white
        }
            
        }
    });
    var Chart3 = new Chart(ctc, {
        type: 'line',
        data: chartDataC,
        options: {
            responsive: true,
            maintainAspectRatio: true,
            scales: {
                y: {
                    beginAtZero: true
                }
            },
            plugins: {
            legend: {
                labels: {
                    color: 'red' // Change legend label text color to red
                }
            },

        },
        tooltips: {
            enabled: true,
            backgroundColor: 'yellow', // Change tooltip background color to yellow
            titleColor: 'green', // Change tooltip title text color to green
            bodyColor: 'white' // Change tooltip body text color to white
        }
            
        }
    });
    var Chart4 = new Chart(ctd, {
        type: 'line',
        data: chartDataD,
        options: {
            responsive: true,
            maintainAspectRatio: true,
            scales: {
                y: {
                    beginAtZero: true
                }
            },
            plugins: {
            legend: {
                labels: {
                    color: 'red' // Change legend label text color to red
                }
            },

        },
        tooltips: {
            enabled: true,
            backgroundColor: 'yellow', // Change tooltip background color to yellow
            titleColor: 'green', // Change tooltip title text color to green
            bodyColor: 'white' // Change tooltip body text color to white
        }
            
        }
    });
    var Chart5 = new Chart(cte, {
        type: 'line',
        data: chartDataE,
        options: {
            responsive: true,
            maintainAspectRatio: true,
            scales: {
                y: {
                    beginAtZero: true
                }
            },
            plugins: {
            legend: {
                labels: {
                    color: 'red' // Change legend label text color to red
                }
            },

        },
        tooltips: {
            enabled: true,
            backgroundColor: 'yellow', // Change tooltip background color to yellow
            titleColor: 'green', // Change tooltip title text color to green
            bodyColor: 'white' // Change tooltip body text color to white
        }
            
        }
    });
    var Chart6 = new Chart(ctf, {
        type: 'line',
        data: chartDataF,
        options: {
            responsive: true,
            maintainAspectRatio: true,
            scales: {
                y: {
                    beginAtZero: true
                }
            },
            plugins: {
            legend: {
                labels: {
                    color: 'red' // Change legend label text color to red
                }
            },

        },
        tooltips: {
            enabled: true,
            backgroundColor: 'yellow', // Change tooltip background color to yellow
            titleColor: 'green', // Change tooltip title text color to green
            bodyColor: 'white' // Change tooltip body text color to white
        }
            
        }
    });
    var Chart7 = new Chart(ctg, {
        type: 'line',
        data: chartDataG,
        options: {
            responsive: true,
            maintainAspectRatio: true,
            scales: {
                y: {
                    beginAtZero: true
                }
            },
            plugins: {
            legend: {
                labels: {
                    color: 'red' // Change legend label text color to red
                }
            },

        },
        tooltips: {
            enabled: true,
            backgroundColor: 'yellow', // Change tooltip background color to yellow
            titleColor: 'green', // Change tooltip title text color to green
            bodyColor: 'white' // Change tooltip body text color to white
        }
            
        }
    });
    var Chart8 = new Chart(cth, {
        type: 'line',
        data: chartDataH,
        options: {
            responsive: true,
            maintainAspectRatio: true,
            scales: {
                y: {
                    beginAtZero: true
                }
            },
            plugins: {
            legend: {
                labels: {
                    color: 'red' // Change legend label text color to red
                }
            },

        },
        tooltips: {
            enabled: true,
            backgroundColor: 'yellow', // Change tooltip background color to yellow
            titleColor: 'green', // Change tooltip title text color to green
            bodyColor: 'white' // Change tooltip body text color to white
        }
            
        }
    });
</script>
{% endblock %}