{% extends "base.html" %}

{% block title %} Input details {% endblock %}
{% block content %}

    <form method="POST" class="hero" >
        <div class="flex flex-col border-opacity-50">
        <h1 class="text-5xl font-bold">Input Details Below</h1>
        <div class="divider">Others</div>
        {{ form.hidden_tag() }}
        {{ form.date_recorded.label() }}
        {{ form.date_recorded(class='input input-bordered w-full max-w-xs', placeholder='User name') }}
        <br>
        <div class="divider">Ship Schedule</div>
        {{ form.average_container_weight.label() }}
        {{ form.average_container_weight(class="input input-bordered w-full max-w-xs", placeholder="Average container weight")}}
        <br>
        {{ form.vessel_waiting_time.label() }}
        {{ form.vessel_waiting_time(class="input input-bordered w-full max-w-xs", placeholder="Vessel waiting time") }}
        <br>
        <div class="divider">trade fluctuations</div>
        {{ form.world_value.label() }}
        {{ form.world_value(class="input input-bordered w-full max-w-xs", placeholder="World value") }}
        <br>
        {{ form.singapore_value.label() }}
        {{ form.singapore_value(class="input input-bordered w-full max-w-xs", placeholder="Singapore value")}}
        <br>
        <div class="divider">Seasonal variation</div>
        {{ form.no_of_ships.label() }}
        {{ form.no_of_ships(class="input input-bordered w-full max-w-xs", placeholder="Number of ships")}}
        <br>
        {{ form.no_of_containers.label() }}
        {{ form.no_of_containers(class="input input-bordered w-full max-w-xs", placeholder="Number of containers")}}
        <div class="divider"></div>
        <a href="" class="btn btn-primary stat-title">Continue</a>
        {{ form.continue_button(class="btn btn-primary stat-title")}}
        <br>
       
        <a href="{{ url_for('dashboard') }}" class="btn btn-primary stat-title"> Skip</a>
    </div>
    </form>
    
{% endblock %}