{% extends "base.html" %}

{% block title %} Notes {% endblock %}
{% block content %}
<div>
    <form method="POST" class="hero">
        <div class="flex flex-col border-opacity-50">
            <div class="card-body">
                {{ form.hidden_tag() }}
                {{ form.text_description(class='text-5xl stat-title', placeholder='Notes here...') }}
                {{ form.submit_note(class="btn btn-primary stat-title") }}
                <br>
                <a href="/dashboard" class="btn btn-primary">Dashboard</a>
            </div>

        </div>
    </form>
</div>


{% endblock %}