{% extends "base.html" %}

{% block title %} Notes {% endblock %}
{% block content %}
<div class="hero">
<div class="flex flex-col border-opacity-50">
    <h1 class="text-5xl font-bold">Add notes</h1>
    <textarea class="textarea textarea-info" placeholder="Add notes"></textarea>
    <br>
    <button class="btn btn-primary">Continue</button>
</div>
{% endblock %}

<div>
    <form method="POST">
        <div class="card">
            <div class="card-body">
                {{ form.hidden_tag() }}
                {{ form.text_description(class='form-control form-control-user', placeholder='Notes here...') }}
                <br>
            </div>

        </div>
    </form>
</div>


{% endblock %}