{% extends "base.html" %}

{% block title %} Settings {% endblock %}
{% block content %}
<div class="hero">
<br>
<div class="flex flex-col border-opacity-50">
    <h1 class="text-5xl font-bold">Change Settings</h1><br>
    <h1 class="text-2xl font-bold">For every 5000 TEUs</h1>
    <!--this is where the uploaded data goes (8 is a sample data)-->
    <div class="chat-bubble primary ">8 Cranes</div>
    <div class="chat-bubble primary ">49 vehicles</div>
    <div class="chat-bubble primary ">2330 Workers</div>
    <!--this is where the uploaded data goes-->
    <br>
    <h3>Add your items here...</h3>
    <form method="POST">
        <!--text input-->
        {{ form.no_of_items(class="input input-bordered") }}
        {{ form.unit(class="input input-bordered")}}
        <br>
        <!--text upload-->
        {{ form.save_changes(class="btn btn-primary") }}
    </form>
    <div class="fixed bottom-0 left-0 right-0 p-4 bg-white shadow-md flex justify-center">
        <a href="/chart" class="btn btn-primary">
            Back
        </a>
    </div>
</div>
{% endblock %}